<h1>{{ modoEdicion ? 'EDITAR SALA' : 'CREAR SALA' }}</h1>

<form [formGroup]="form" (ngSubmit)="guardar()" class="admin-formulario">

  <label>NOMBRE</label>
  <input type="text" formControlName="nombre" placeholder="Nombre de la sala...">

  <label>FILAS</label>
  <input type="number" formControlName="filas" placeholder="Número de filas...">

  <label>COLUMNAS</label>
  <input type="number" formControlName="columnas" placeholder="Número de columnas...">

  <div class="botones">
    <button type="submit" class="btn-guardar">Guardar</button>
    <button type="button" class="btn-cancelar" (click)="cancelar()">Cancelar</button>
  </div>

</form>