/* Estilo para título. */
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  color: #e7000b;
}

/* Estilo para los labels. */
label {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  color: white;
  font-weight: 600;
}