<div class="admin-header">
  <h1>SALAS</h1>
  <button class="btn-crear" (click)="crearSala()">+ Crear</button>
</div>

<div class="tabla-wrapper">
  <table class="admin-table">
    <thead>
      <tr>
        <th>NOMBRE</th>
        <th>FILAS</th>
        <th>COLUMNAS</th>
        <th>ACCIONES</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let s of salas">
        <td>{{ s.nombre }}</td>
        <td>{{ s.filas }}</td>
        <td>{{ s.columnas }}</td>
        <td>
          <button class="btn-editar" (click)="editarSala(s.id)">✏️</button>
          <button class="btn-borrar" (click)="eliminarSala(s.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>