<!-- Clase del contenedor del formulario de registro. -->
<div class="contenedor-form">

    <!-- Título y subtítulo del formulario. -->
    <h2 class="titulo-form">Registrarse</h2>
    <p class="subtitulo-form">Crea tu cuenta en CineSensus</p>

    <!-- Formulario de registro con todas sus validacións. -->
    <form [formGroup]="form" (ngSubmit)="registrar()" class="form-card">

        <!-- Se pide el nombre real del usuario. -->
        <label>Nombre</label>
        <input type="text" formControlName="nombre" placeholder="Nombre" autocomplete="off">
        <p class="mensaje-error" *ngIf="tieneError('nombre', 'required')">
            El nombre es obligatorio.
        </p>

        <!-- Se piden los apellidos también. -->
        <label>Apellidos</label>
        <input type="text" formControlName="apellidos" placeholder="Apellidos" autocomplete="off">
        <p class="mensaje-error" *ngIf="tieneError('apellidos', 'required')">
            Los apellidos son obligatorios.
        </p>

        <!-- Se solicitará un nombre de usuario. -->
        <label>Nombre de usuario</label>
        <input type="text" formControlName="username" placeholder="Nombre de usuario" autocomplete="off">
        <p class="mensaje-error" *ngIf="tieneError('username', 'required')">
            El nombre de usuario es obligatorio.
        </p>
        <p class="mensaje-error" *ngIf="tieneError('username', 'minlength')">
            Debe tener al menos 4 caracteres.
        </p>

        <!-- También será obligatorio el email. -->
        <label>Correo electrónico</label>
        <input type="email" formControlName="email" placeholder="@email.com" autocomplete="email">
        <p class="mensaje-error" *ngIf="tieneError('email', 'required')">
            El correo es obligatorio.
        </p>

        <p class="mensaje-error" *ngIf="tieneError('email', 'email')">
            Debe ser un correo válido.
        </p>

        <!-- Y se pedirá una contraseña dos veces que deberán coincidir. -->
        <label>Contraseña</label>
        <input type="password" formControlName="password" placeholder="********" autocomplete="new-password">
        <p class="mensaje-error" *ngIf="tieneError('password', 'required')">
            La contraseña es obligatoria.
        </p>

        <p class="mensaje-error" *ngIf="tieneError('password', 'minlength')">
            Debe tener al menos 8 caracteres.
        </p>

        <label>Confirmar contraseña</label>
        <input type="password" formControlName="confirmarPassword" placeholder="********" autocomplete="new-password">

        <p class="mensaje-error" *ngIf="tieneError('confirmarPassword', 'required')">
            Debes confirmar la contraseña.
        </p>

        <p class="mensaje-error" *ngIf="tieneError('confirmarPassword', 'noCoincide')">
            Las contraseñas no coinciden.
        </p>

        <!-- Antes del botón, habrá una casilla obligatoria con los términos y condiciones.-->
        <label class="checkbox-terminos">
            <input type="checkbox" formControlName="aceptaTerminos">
            Acepto <button type="button" class="btn-link" (click)="mostrarTerminos()">términos y condiciones</button>
        </label>

        <p class="mensaje-error" *ngIf="tieneError('aceptaTerminos', 'required')">
            Debes aceptar los términos y condiciones.
        </p>

        <!-- El botón de registrarse, estilo submit. -->
        <button type="submit" class="btn-rojo">Registrarse</button>

    </form>

    <!-- Pop up de términos y condiciones. -->
    <div class="modal-fondo" *ngIf="abrirTerminos">
        <div class="modal-contenido">
            <h3>Términos y Condiciones</h3>

            <p>
                *Terminos*
            </p>

            <button class="btn-rojo" type="button" (click)="cerrarTerminos()">Cerrar</button>
        </div>
    </div>

</div>