/* Estilo para el toast. */
.toast {
  position: fixed;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 18px;
  border-radius: 30px;
  font-size: 1.0rem;
  font-family: 'Oswald', sans-serif;
  color: white;
  animation: fadeInOut 2.5s ease;
  z-index: 9999;
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.45);
  border: 2.5px solid transparent;
}

/* Estilo para mensaje de éxito/informativo. */
.toast.exito {
  background: #1e2939;
  border-color: #04254f;
}

/* Estilo para mensaje de error. */
.toast.error {
  background: #e7000b;
  border-color: #8a0007;
}

/* Animación para que el toast aparezca y desaparezca. */
@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) translateY(10px); }
  10% { opacity: 1; transform: translateX(-50%) translateY(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(-50%) translateY(10px); }
}