<!-- Clase del contenedor. -->
<div class="contenedor-form">

    <!-- Título del formulario. -->
    <h2 class="titulo-form">Editar Película</h2>

    <!-- Formulario para editar película. -->
    <form (ngSubmit)="guardar()" class="form-card">
        
        <label>Título</label>
        <input type="text" [(ngModel)]="pelicula.titulo" name="titulo" required>
        
        <label>Género</label> <input type="text" [(ngModel)]="pelicula.genero" name="genero" required>
        
        <label>Director</label>
        <input type="text" [(ngModel)]="pelicula.director" name="director" required>
        
        <label>Descripción</label>
        <textarea [(ngModel)]="pelicula.descripcion" name="descripcion" required></textarea>
        
        <label>URL de la imagen</label>
        <input type="text" [(ngModel)]="pelicula.imagen" name="imagen" required>

        <button type="submit" class="btn-rojo">Guardar cambios</button>

    </form>
    
</div>