<!-- Clase del contenedor. -->
<div class="contenedor-form">

    <!-- Título del formulario. -->
    <h2 class="titulo-form">Editar Película</h2>

    <!-- Formulario para editar película. -->
    <form (ngSubmit)="guardar()" class="form-card">
        
        <label>Título</label>
        <input type="text" [(ngModel)]="pelicula.titulo" name="titulo" required>

        <label>Género</label>
        <select [(ngModel)]="pelicula.genero" name="genero" required>
            <option *ngFor="let g of generos" [value]="g">{{ g }}</option>
        </select>

        <label>Director</label>
        <input type="text" [(ngModel)]="pelicula.director" name="director" required>

        <label>Sinopsis</label>
        <textarea [(ngModel)]="pelicula.sinopsis" name="sinopsis" required></textarea>

        <label>URL del póster</label>
        <input type="text" [(ngModel)]="pelicula.poster" name="poster" required>

        <label>URL del tráiler</label>
        <input type="text" [(ngModel)]="pelicula.trailer" name="trailer" required>

        <label>Duración (minutos)</label>
        <input type="number" [(ngModel)]="pelicula.duracion" name="duracion" required>

        <button type="submit" class="btn-rojo">Guardar cambios</button>

    </form>
    
</div>