<!-- Este es la clase del contenedor de bienvenida. -->
<div class="bienvenida-container">
    
    <!-- Aquí se muestra el logo de CineSensus -->
    <img src="../../../../public/Icono-CineSensus.png" alt="Icono CineSensus">

    <!-- El nombre de la aplicación se muestra como un título. -->
    <div class="logo">
        <h1>CineSensus</h1>
    </div>

    <!-- El eslogan de la aplicación se muestra debajo del título. -->
    <p class="eslogan">El cine no hay que verlo, hay que sentirlo</p>

    <!-- Botón para iniciar sesión, que redirige a la página de login. -->
    <button class="btn-rojo" routerLink="/login">Iniciar Sesión</button>

    <!-- Una línea de separador visual entre los botones de iniciar sesión y registrarse. -->
    <div class="separador"></div>
    
    <!-- Botón para registrarse, que redirige a la página de registro. -->
    <button class="btn-gris" routerLink="/registro">Registrarse</button>

    <!-- Enlace para entrar sin iniciar sesión, que redirige a la página de cartelera. -->
    <a class="entrar-sin" routerLink="/cartelera">Entrar sin iniciar sesión</a>

</div>