<div class="bienvenida-container">
    
    <img src="../../../../public/Icono-CineSensus.png" alt="Icono CineSensus">

    <div class="logo">
        <h1>CineSensus</h1>
    </div>

    <p class="eslogan">El cine no hay que verlo, hay que sentirlo</p>

    <button class="btn-rojo" routerLink="/login">Iniciar Sesión</button>

    <div class="separador"></div>
    
    <button class="btn-gris" routerLink="/registro">Registrarse</button>

    <a class="entrar-sin" routerLink="/cartelera">Entrar sin iniciar sesión</a>

</div>