/* Estilo para el componente de bienvenida. */
:host {
    display: block;
    background: #000;
    min-height: 100vh;
}

/* Estilo para el contenedor principal de bienvenida. */
.bienvenida-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: white;
    font-family: Arial, sans-serif;
    padding: 7vh 20px 0 20px;
}


/* Estilo para la imagen del logo. */
.logo-img {
    width: 340px;
    height: auto;
    margin-top: -65px;
    margin-bottom: 0px;
}

/* Estilo para el título del logo. */
.logo-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3.8rem;
    margin-top: 1px;
    margin-bottom: 1px;
    letter-spacing: 2.5px;
    color: #000;

    /* Se caracterizará por su contorno rojo */
    -webkit-text-stroke: 1.5px #e7000b;
    text-shadow: 0 0 6px rgba(231, 0, 11, 0.25);
}

/* Estilo para el eslogan. */
.eslogan {
    font-family: 'Caveat', cursive;
    color: #cacaca;
    margin-top: 5px;
    margin-bottom: 35px;
    font-size: 2.1rem;
    font-weight: 800;
}

/* Estilo para los botones. */
.btn-rojo {
    width: 380px;
    padding: 14px;
    background: #e7000b;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 12px;
    transition: 0.2s;
}

/* Estilo para el botón rojo al pasar el ratón. */
.btn-rojo:hover {
    background: #b20710;
}

/* Estilo para el separador. */
.separador {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 12px 0;
}

/* Línea separadora decorativa. */
.separador::before,
.separador::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #cacaca;
}

/* Círculo decorativo entre líneas. */
.circulo {
    width: 8px;
    height: 8px;
    background-color: #cacaca;
    border-radius: 50%;
    margin: 0 12px;
}

/* Estilo para el botón gris. */
.btn-gris {
    width: 380px;
    padding: 14px;
    background: #1e2939;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 12px;
    margin-bottom: 20px;
    transition: 0.2s;
}

/* Estilo para el botón gris al pasar el retón. */
.btn-gris:hover {
    background: #444;
}

/* Estilo para el enlace de "Entrar sin registrarse". */
.entrar-sin {
    color: #cacaca;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.0rem;
    margin-top: 10px;
}

/* Estilo para el enlace de "Entrar sin registrarse" al pasar el ratón. */
.entrar-sin:hover {
    color: white;
}

/* Estilo responsibe para tablets. */
@media (max-width: 768px) {

    .bienvenida-container {
        padding-top: 4vh;
    }

    .logo-img {
        width: 260px;
        margin-top: 8px;
    }

    .logo-title {
        font-size: 3rem;
        -webkit-text-stroke: 1.2px #e7000b;
    }

    .eslogan {
        font-size: 1.8rem;
    }

    .btn-rojo,
    .btn-gris {
        width: 100%;
        max-width: 380px;
    }

    .separador {
        width: 100%;
        max-width: 380px;
    }
}

/* Estilo responsive para móviles. */
@media (max-width: 480px) {

    .logo-img {
        width: 275px;
        margin-top: 8px;
    }

    .logo-title {
        font-size: 2.4rem;
        letter-spacing: 2px;
        margin-top: 20px;
        -webkit-text-stroke: 1px #e7000b;
    }

    .eslogan {
        font-size: 1.5rem;
        margin-bottom: 35px;
    }

    .btn-rojo,
    .btn-gris {
        font-size: 1.05rem;
        padding: 12px;
    }

    .entrar-sin {
        font-size: 0.9rem;
    }
}