<!-- Clase del contenedor del formulario de login. -->
<div class="contenedor-form">

    <!-- Título del formulario de login. -->
    <h2 class="titulo-form">Iniciar Sesión</h2>
    <p class="subtitulo-form">Bienvenido de nuevo a CineSensus</p>

    <!-- Formulario de login con enlace al método login. -->
    <form (ngSubmit)="login()" class="form-card">
        
        <!-- Se pedirá el correo del usuario. -->
        <label>Correo electrónico</label>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Tu @email.com" required>
        
        <!-- Se solicitará la contraseña. -->
        <label>Contraseña</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="********" required>
        
        <!-- botón de iniciar sesión. -->
        <button type="submit" class="btn-rojo">Entrar</button>

        <p class="mensaje-error" *ngIf="error">{{ error }}</p>

    </form>

</div>