<nav class="navbar">
  
  <div class="nav-izquierda">

    <a routerLink="/" class="logo">

      <img src="../../../../public/Icono-CineSensus.png" alt="logo" class="logo-img">

      <span class="titulo">CineSensus</span>

    </a>

    <div *ngIf="usuarioLogueado" class="usuario-grupo">

      <span class="usuario-nombre">{{ usuarioLogueado.username }}</span>

      <span class="separador"></span>

      <button class="btn-cerrar" (click)="cerrarSesion()">
        Cerrar sesión
      </button>

    </div>

  </div>
  
  <button class="btn-volver" (click)="volver()">
    ← Volver
  </button>

</nav>