<!-- La clase "contenedor-form" se encarga de centrar el formulario y darle un estilo de tarjeta. -->
<div class="contenedor-form">

    <!-- El título del formulario. -->
    <h2 class="titulo-form">Añadir Película</h2>

    <!-- El formulario para añadir una película. Se vincula a la función "guardar()" en el componente TypeScript. -->
    <form (ngSubmit)="guardar()" class="form-card">
        
        <!-- Aquí se definen los campos del formulario para añadir una película. -->
        <label>Título</label>
        
        <input type="text" [(ngModel)]="pelicula.titulo" name="titulo" required>
        
        <label>Género</label>
        
        <input type="text" [(ngModel)]="pelicula.genero" name="genero" required>
        
        <label>Director</label>
        
        <input type="text" [(ngModel)]="pelicula.director" name="director" required>
        
        <label>Descripción</label>
        
        <textarea [(ngModel)]="pelicula.descripcion" name="descripcion" required></textarea>
        
        <label>URL de la imagen</label>

        <input type="text" [(ngModel)]="pelicula.imagen" name="imagen" required>
        
        <button type="submit" class="btn-rojo">Guardar</button>
    
    </form>
    
</div>