<!-- Este será el contenedor donde se contendrá la vista. -->
<div class="contenedor-asientos">

  <!-- Tarjeta con información de la sesión. -->
  <div class="tarjeta-sesion">

    <!-- La tarjeta estará dividida en dos partes: izquierda y derecha(Es prácticamente centro). -->
    <div class="tarjeta-sesion-izquierda">
      <button class="btn-volver-sesion" routerLink="/cartelera">
        ← Volver a Cartelera
      </button>
    </div>

    <div class="tarjeta-sesion-centro">
      <h2 class="titulo-pelicula-sesion">
        {{ sesion?.pelicula?.titulo }} •

        <span class="detalle-sala">
          {{ sala?.nombre }}
        </span>

      </h2>

      <div class="detalles-sesion">
        <span class="detalle-fecha">
          {{ fechaLargaSesion }}
        </span>

        <span class="detalle-hora">
          {{ formatearHora(sesion?.hora || '') }}
        </span>
      </div>
    </div>

  </div>

  <!-- Con esto se representará visualmente la pantalla. -->
  <div class="pantalla">Pantalla</div>

  <!-- Aquí se generarán los asientos de la sala. -->
  <div class="grid-asientos">
    <div *ngFor="let fila of matrizAsientos; let i = index" class="fila-asientos">

      <!-- Letras de las filas. -->
      <span class="letra-fila">{{ getLetraFila(i) }}</span>

      <!-- Asientos. -->
      <div class="asientos-fila">
        <div *ngFor="let asiento of fila; let j = index" class="asiento" [class.ocupado]="asiento.ocupado"
          [class.seleccionado]="asiento.seleccionado" (click)="toggleAsiento(asiento, i, j)">
        </div>
      </div>

      <!-- Letras de las filas. -->
      <span class="letra-fila">{{ getLetraFila(i) }}</span>

    </div>
  </div>

  <!-- Debajo se mostrará una pequeña guía respecto a los estados de los asientos. -->
  <div class="leyenda">
    <div><span class="cuadro disponible"></span> Disponible</div>
    <div><span class="cuadro seleccionado"></span> Seleccionado</div>
    <div><span class="cuadro ocupado"></span> Ocupado</div>
  </div>

  <!-- Al seleccionar los asientos se mostrará un pequeño resumen de la reserva. -->
  <div class="resumen-compra" *ngIf="asientosSeleccionados.length > 0">

    <!-- Aquí se listarán los asientos seleccionados, la cantidad, el precio por entrada y el total. -->
    <h3>Resumen de compra</h3>

    <p>
      Asientos seleccionados:
      <strong>
        {{ asientosSeleccionados | mapAsientos }}
      </strong>
    </p>

    <p>Cantidad: <strong>{{ asientosSeleccionados.length }}</strong></p>

    <p>
      Precio por entrada:
      <strong>{{ sesion?.precio | number:'1.2-2' }} €</strong>
    </p>

    <div class="separador"></div>

    <p>
      Total:
      <strong>{{ (asientosSeleccionados.length * (sesion?.precio || 0)) | number:'1.2-2' }} €</strong>
    </p>

    <!-- Botón para continuar con la compra, que llevará a la página de pago. -->
    <button class="btn-confirmar" (click)="irAPago()">Continuar con la compra</button>
  </div>

</div>