<!-- Parte superior de la página. -->
<div class="admin-header">

  <!-- Título de la página. -->
  <h1>USUARIOS</h1>

  <!-- Filtros de búsqueda. -->
  <div class="filtros-header">

    <div class="filtros-inputs">
      <input type="text" placeholder="Buscar email..." [(ngModel)]="filtroEmail" (input)="aplicarFiltro()">
    </div>
  </div>
</div>

<!-- Tabla de usuarios. -->
<div class="tabla-wrapper">
  <table class="admin-table">
    <thead>

      <!-- Enunciados de columnas. -->
      <tr>
        <th>NOMBRE COMPLETO</th>
        <th>EMAIL</th>
        <th>NOMBRE DE USUARIO</th>
        <th>ACCIONES</th>
      </tr>
    </thead>

    <tbody>

      <!-- Contenido de la tabla. -->
      <tr *ngFor="let u of usuariosPaginados">
        <td>{{ u.nombre }} {{ u.apellidos }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.username }}</td>

        <!-- Botones para alterar el estado de los usuarios. -->
        <td>
          <select [(ngModel)]="u.activo" (change)="cambiarEstado(u)">
            <option [ngValue]="true">Activo</option>
            <option [ngValue]="false">Inactivo</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Botones para navegar entre páginas. -->
<div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
    ◀ Anterior
  </button>

  <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

  <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
    Siguiente ▶
  </button>
</div>