<div class="usuarios-header">
  <h1>Usuarios</h1>

  <div class="filtros-header">
    <span class="titulo-filtros">Mostrando:</span>

    <div class="filtros-inputs">
      <input 
        type="text" 
        placeholder="Buscar email..." 
        [(ngModel)]="filtroEmail" 
        (input)="aplicarFiltro()"
      >
    </div>
  </div>
</div>

<table class="tabla-usuarios">
  <thead>
    <tr>
      <th>Nombre Completo</th>
      <th>Email</th>
      <th>Nombre de Usuario</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let u of usuariosPaginados">
      <td>{{ u.nombre }} {{ u.apellidos }}</td>
      <td>{{ u.email }}</td>
      <td>{{ u.username }}</td>
      <td>
        <button class="btn-borrar" (click)="eliminarUsuario(u.id)">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>

<div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
    ◀ Anterior
  </button>

  <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

  <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
    Siguiente ▶
  </button>
</div>