<!-- Este alrredoedor envolverá toda la página y le dará un formato vertical. -->
<div class="detalle-wrapper" *ngIf="pelicula">

    <!-- Tarjeta con los detalles de la película. -->
    <div class="detalle-card">

        <!-- Póster de película. -->
        <img class="poster" [src]="pelicula.poster" [alt]="pelicula.titulo">

        <!-- Información de película. -->
        <div class="info">

            <!-- Título de pel´ciula. -->
            <h1 class="titulo">{{ pelicula.titulo }}</h1>

            <!-- Puntuación de película. -->
            <div class="puntuacion">
                <img *ngFor="let icono of getIconos(pelicula.puntuacionMedia)" [src]="icono" class="estrella-pelicula">
                <span>{{ pelicula.puntuacionMedia }}/5</span>
            </div>

            <!-- Ficha técnica de película. -->
            <div class="ficha">
                <p><strong>Género:</strong> {{ pelicula.genero }}</p>
                <p><strong>Director:</strong> {{ pelicula.director }}</p>
                <p><strong>Tono:</strong> {{ pelicula.tono }}</p>
                <p><strong>Duración:</strong> {{ pelicula.duracion }} min</p>
                <p><strong>Edad:</strong> +{{ pelicula.restriccionEdad }}</p>
            </div>

            <!-- Sinopsis de película. -->
            <h3>Sinopsis</h3>
            <p class="descripcion">{{ pelicula.sinopsis }}</p>

            <!-- Enlace a tráiler de película.-->
            <h3>Tráiler</h3>
            <a class="trailer-btn" [href]="pelicula.trailer" target="_blank">
                Ver Tráiler en YouTube
            </a>

        </div>

    </div>

    <div class="seccion-resenas">
        <h2>RESEÑAS DE USUARIOS</h2>

        <!-- Lista de reseñas -->
        <div class="lista-resenas">
            <ng-container *ngFor="let r of resenas">
                <div class="tarjeta-resena">

                    <div class="cabecera-resena">
                        <span class="usuario">{{ r.usuario.username }}</span>
                        <span class="fecha">{{ r.fecha | date:'yyyy-MM-dd' }}</span>
                    </div>

                    <div class="estrellas-resena">
                        <img *ngFor="let star of getIconos(r.puntuacion)" [src]="star" class="estrella-resena">
                    </div>

                    <p class="comentario">{{ r.comentario }}</p>

                </div>
            </ng-container>
        </div>

        <!-- Formulario para escribir reseña -->
        <div *ngIf="mostrarFormularioResena" class="formulario-resena">
            <h3>Escribe tu Reseña</h3>

            <textarea [(ngModel)]="comentario" placeholder="Escribe tu opinión..."></textarea>

            <div class="fila-envio">
                <select [(ngModel)]="puntuacion">
                    <option value="" disabled selected>Selecciona Puntuación</option>
                    <option *ngFor="let p of puntuaciones" [value]="p">{{ p }} - Estrellas</option>
                </select>

                <button class="btn-accion" (click)="enviarResena()">
                    Enviar Reseña
                </button>
            </div>

        </div>

    </div>