:host {
  display: block;
  background: #000;
  min-height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

.detalle-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.detalle-card {
  background: #141414;
  padding: 30px;
  border-radius: 14px;
  display: flex;
  gap: 40px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 4px 18px rgba(255, 255, 255, 0.08);
}

.detalle-card img {
  width: 350px;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(229, 9, 20, 0.4);
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 550px;
}

.info h2 {
  color: #e50914;
  font-size: 2.4rem;
  margin-bottom: 20px;
}

.sub-info {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #cccccc;
}

.info h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 1.4rem;
  color: #e50914;
}

.descripcion {
  font-size: 1.15rem;
  line-height: 1.6;
  color: #ffffff;
}