<!-- Envoltorio de detalles de la película. -->
<div class="detalle-wrapper" *ngIf="pelicula">

    <!-- Tarjeta con los detalles de la película. -->
    <div class="detalle-card">

        <!-- Póster de película. -->
        <img class="poster" [src]="pelicula.poster" [alt]="pelicula.titulo">

        <!-- Información de película. -->
        <div class="info">

            <!-- Título de pel´ciula. -->
            <h1 class="titulo">{{ pelicula.titulo }}</h1>

            <!-- Puntuación de película. -->
            <div class="puntuacion">
                <img *ngFor="let icono of getIconos(pelicula.puntuacionMedia)" [src]="icono" class="estrella">
            </div>

            <!-- Ficha técnica de película. -->
            <div class="ficha">
                <p><strong>Género:</strong> {{ pelicula.genero }}</p>
                <p><strong>Director:</strong> {{ pelicula.director }}</p>
                <p><strong>Tono:</strong> {{ pelicula.tono }}</p>
                <p><strong>Duración:</strong> {{ pelicula.duracion }} min</p>
            </div>

            <!-- Sinopsis de película. -->
            <h3>Sinopsis</h3>
            <p class="descripcion">{{ pelicula.sinopsis }}</p>

            <!-- Enlace a tráiler de película.-->
            <h3>Tráiler</h3>
            <a class="trailer-btn" [href]="pelicula.trailer" target="_blank">
                Ver tráiler en YouTube
            </a>

        </div>

    </div>

</div>