<div class="sesiones-header">
  <h1>Sesiones</h1>
  <div class="filtros-header">
    <span class="titulo-filtros">Mostrando:</span>

    <div class="filtros-inputs">
      <input type="text" placeholder="Buscar..." [(ngModel)]="filtroTexto" (input)="aplicarFiltros()">

      <select [(ngModel)]="filtroPelicula" (change)="aplicarFiltros()">
        <option value="">Película</option>
        <option *ngFor="let s of sesiones" [value]="s.pelicula.id">
          {{ s.pelicula.titulo }}
        </option>
      </select>

      <select [(ngModel)]="filtroSala" (change)="aplicarFiltros()">
        <option value="">Sala</option>
        <option *ngFor="let s of sesiones" [value]="s.sala.id">
          {{ s.sala.nombre }}
        </option>
      </select>

      <input type="date" [(ngModel)]="filtroFecha" (change)="aplicarFiltros()">
    </div>
  </div>
  <button class="btn-crear" (click)="crearSesion()">+ Crear</button>
</div>

<table class="tabla-sesiones">
  <thead>
    <tr>
      <th>Película</th>
      <th>Sala</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let s of sesionesFiltradas">
      <td>{{ s.pelicula?.titulo }}</td>
      <td>{{ s.sala?.nombre }}</td>
      <td>{{ s.fecha | date:'yyyy-MM-dd' }}</td>
      <td>{{ s.hora.slice(0,2) }}:{{ s.hora.slice(2,4) }}</td>
      <td>{{ s.precio }}€</td>
      <td>
        <button class="btn-editar" (click)="editarSesion(s.id)">✏️</button>
        <button class="btn-borrar" (click)="eliminarSesion(s.id)">🗑️</button>
      </td>
    </tr>
  </tbody>
</table>