<nav class="admin-sidebar">
  <ul>
    <li><a routerLink="/admin/peliculas" routerLinkActive="activo">Películas</a></li>
    <li><a routerLink="/admin/salas" routerLinkActive="activo">Salas</a></li>
    <li><a routerLink="/admin/sesiones" routerLinkActive="activo">Sesiones</a></li>
    <li><a routerLink="/admin/reservas" routerLinkActive="activo">Reservas</a></li>
    <li><a routerLink="/admin/usuarios" routerLinkActive="activo">Usuarios</a></li>
    <li><a routerLink="/admin/resenas" routerLinkActive="activo">Reseñas</a></li>
  </ul>
</nav>