<!-- Parte superior de la págoina. -->
<div class="admin-header">

  <!-- Título de la página. -->
  <h1>RESERVAS</h1>

  <!-- Filtros de reservas. -->
  <div class="filtros-header">

    <div class="filtros-inputs">
      <input type="text" placeholder="Buscar email..." [(ngModel)]="filtroEmail" (input)="aplicarFiltros()">

      <input type="text" placeholder="Buscar película..." [(ngModel)]="filtroPelicula" (input)="aplicarFiltros()">

      <input type="date" [(ngModel)]="filtroFecha" (change)="aplicarFiltros()">

      <input type="text" placeholder="Código entrada..." [(ngModel)]="filtroCodigo" (input)="aplicarFiltros()">
    </div>
  </div>
</div>

<!-- Tabla de reservas. -->
<div class="tabla-wrapper">
  <table class="admin-table">
    <thead>

      <!-- Enunciados de columnas. -->
      <tr>
        <th>USUARIO</th>
        <th>PELÍCULA</th>
        <th>SALA</th>
        <th>FECHA</th>
        <th>HORA</th>
        <th>ASIENTOS</th>
        <th>CÓDIGO</th>
        <th>ESTADO</th>
      </tr>
    </thead>

    <tbody>

      <!-- Contenido de la tabla. -->
      <tr *ngFor="let r of reservasPaginadas">
        <td>{{ r.usuario.email }}</td>
        <td>{{ r.pelicula.titulo }}</td>
        <td>{{ r.sesion.sala.nombre }}</td>
        <td>{{ r.sesion.fecha | date:'yyyy-MM-dd' }}</td>
        <td>{{ r.sesion.hora.slice(0,2) }}:{{ r.sesion.hora.slice(2,4) }}</td>
        <td>{{ formatearAsientos(r.asientos) }}</td>
        <td>{{ r.codigoEntrada }}</td>

        <td>

          <!-- Selector de estados. -->
          <select [(ngModel)]="r.estado" (change)="cambiarEstado(r, r.estado)">
            <option value="pagada">Pagada</option>
            <option value="consumida">Consumida</option>
            <option value="cancelada">Cancelada</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
    ◀ Anterior
  </button>

  <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

  <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
    Siguiente ▶
  </button>
</div>