<div class="admin-header">
  <h1>RESERVAS</h1>

  <div class="filtros-header">

    <div class="filtros-inputs">
      <input type="text" placeholder="Buscar email..." [(ngModel)]="filtroEmail" (input)="aplicarFiltros()">

      <select [(ngModel)]="filtroPelicula" (change)="aplicarFiltros()">
        <option value="">Película</option>
        <option *ngFor="let p of peliculasUnicas" [value]="p.id">
          {{ p.titulo }}
        </option>
      </select>

      <input type="date" [(ngModel)]="filtroFecha" (change)="aplicarFiltros()">
    </div>
  </div>
</div>

<div class="tabla-wrapper">
  <table class="admin-table">
    <thead>
      <tr>
        <th>USUARIO</th>
        <th>PELÍCULA</th>
        <th>SALA</th>
        <th>FECHA</th>
        <th>HORA</th>
        <th>ASIENTOS</th>
        <th>TOTAL</th>
        <th>ESTADO</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of reservasPaginadas">
        <td>{{ r.usuario.email }}</td>
        <td>{{ r.pelicula.titulo }}</td>
        <td>{{ r.sesion.sala.nombre }}</td>
        <td>{{ r.sesion.fecha | date:'yyyy-MM-dd' }}</td>
        <td>{{ r.sesion.hora.slice(0,2) }}:{{ r.sesion.hora.slice(2,4) }}</td>
        <td>{{ formatearAsientos(r.asientos) }}</td>
        <td>{{ r.total }}€</td>

        <td>
          <select [(ngModel)]="r.estado" (change)="cambiarEstado(r, r.estado)">
            <option value="pagada">Pagada</option>
            <option value="consumida">Consumida</option>
            <option value="cancelada">Cancelada</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="paginacion">
  <button (click)="paginaAnterior()" [disabled]="paginaActual === 1">
    ◀ Anterior
  </button>

  <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>

  <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas">
    Siguiente ▶
  </button>
</div>